html {
  background-image: url('./resources/background.jpg');    
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.App {
  text-align: center;  
  font-family: Tahoma, Geneva, sans-serif;  
  color:white;
}

.WeatherInfoDisplay {
	background-color:rgba(0,0,0,.25);	
}

.SearchBarDisplay {
	background-color:rgba(0,0,0,.5);
	marin:0em;
}
