html {
  background-image: url('./resources/background.jpg');    
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.App {
  text-align: center;  
  font-family: Tahoma, Geneva, sans-serif;  
  color:white;
}